snippet tern-project "default tern-project" b
{
    "libs": [
        "browser",
		"chai",
		"ecma5",
		"ecma6",
		"jquery",
		"underscore"
    ],
    "plugins": {
		"requirejs": {
			"baseUrl": "./src",
			"paths": {
				"zrender": "bower_components/zrender/src"
			}
		},
		"angular.js": {
		},
		"complete_string.js": {
		},
		"component.js": {
		},
		"doc_comment.js": {
		},
		"nodejs": {
		}
    }
}
endsnippet
